//COLOR
$color-primary:	#3b87ce;
$color-primary-light: rgb(50, 151, 205);
$color-primary-dark: rgb(0, 123, 255);

$color-secondary-light: #7ed56f;
$color-secondary-dark: #28b485;

$color-tertiary-light: #efd376;
$color-tertiary-dark: #f4cc80;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-dark: #777;

$color-white: #fff;

$color-black: #000;
$color-button: rgb(255, 220, 0);


//FONT
$default-font-size: 1.7rem;

//GRID

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 10rem;